div.filter-wrapper {
  padding: 32px;

  background: #ffffff;
  box-shadow: 0px 13px 24px rgba(88, 81, 103, 0.04);
  border-radius: 16px;
  div.title {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    span {
      padding-left: 12px;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
    }
  }
  div.select-wrapper {
    div.option-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 18px;
      cursor: pointer;
      div.knob-wrapper {
        width: 24px;
        height: 24px;
        background: linear-gradient(110.77deg, rgba(88, 83, 109, 0.6) -142.14%, rgba(88, 83, 109, 0.6) 144.12%);
        border-radius: 500px;
        position: relative;
        transition: 320ms;
        &::after {
          position: absolute;
          top: 2px;
          left: 2px;
          bottom: 2px;
          right: 2px;
          border-radius: 50px;
          background: white;
          display: block;
          content: '';
        }
        div.knob {
          background: linear-gradient(110.77deg, #ffd0bc -142.14%, #963acf 144.12%);
          width: 16px;
          height: 16px;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          z-index: 3;
          border-radius: 50px;
          opacity: 0;
          transition: 320ms;
        }
      }
      span {
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        padding-left: 12px;
      }
      &.active {
        div.knob-wrapper {
          background: linear-gradient(110.77deg, #ffd0bc -142.14%, #963acf 144.12%);
          div.knob {
            opacity: 1;
          }
        }
        span {
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
  }
}
