div.profile-wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 26px 32px;
  grid-template-areas: 'nav x' 'filter main';
  width: 100vw;
  padding-top: 215px;
  background: #f6f5ff;
  padding-left: 86px;
  padding-right: 86px;
  @media screen and (max-width: $screen-tablet) {
    grid-template-areas: 'nav filter' 'main main';
    padding-left: 39px;
    padding-right: 39px;
    padding-top: 160px;
  }
  nav {
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      margin: 0;
      background: linear-gradient(to right, #4b05a4 -142.14%, #ff9c64 142.14%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
      font-size: 20px;
    }
    span.copy {
      padding: 8px 12px;
      border-radius: 500px;
      font-weight: bold;
      font-size: 10px;
      line-height: 12px;

      letter-spacing: 0.02em;
      text-transform: uppercase;

      color: #ffffff;
    }
  }
  article {
    grid-area: filter;
    height: 100%;
    div.content {
      @media screen and (max-width: $screen-tablet) {
        display: none;
      }
      position: sticky;
      top: 160px;
    }
  }
  main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));

    grid-gap: 24px;
    padding-bottom: 96px;
  }
}
