@tailwind utilities;

@import 'variables';
@import 'components/main';

body,
html {
  color: $colour-black;
  font-family: $title-font;
  * {
    box-sizing: border-box;
  }
}

*.bg-gradient {
  background: linear-gradient(110.77deg, #ffd0bc -142.14%, #963acf 144.12%);
}
