@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

// Misc
$title-font: 'Poppins', sans-serif;

// Colours
$colour-black: #2d294c;
$colour-gray: rgba(88, 83, 109, 0.9);
$colour-indigo: #963acf;
$colour-green: #2cbf93;

// Screen sizes
$screen-mobile: 500px;
